*{
  box-sizing: border-box;
}

body{
  background-color: #F5F7FB;
  margin: 0;
}

.start-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.start-innerConatainer{
  width: 100%;
  text-align: center;
}


.start-heading{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}


.start-para{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
}

.start-button{
  width: 193px;
  height: 52px;
  left: 179px;
  top: 314px;
  background: #4D5B9E;
  border-radius: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
  border: none;
}

.startScreen-yellow{
  position: absolute;
  top: 0;
  right: 0;
}

.startScreen-blue{
  position: absolute;
  bottom: 0;
  left: 0;
}

.questions-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

/* .question-container{
  display: flex;
  flex-direction: column;

} */

.question{
  margin-left: 15%;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

.options-container{
  margin-left: 12%;
  display: flex;
}

.question-line{
  margin-left: 15%;
  width: 500px;
}


.options{
  /* margin-right: 50px; */
 
  margin-left: 3%;
  border: 1px solid #4D5B9E;
  border-radius: 7.94239px;
  background-color: #F5F7FB;
  cursor: pointer;
  color: 293264;
  height: 30px;

  color: #293264;

}

